/* normalize */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    background-color: #F8F8F8;
    font-size: 16px;
    font-family: TTLakes, sans-serif;
    color: #7E7E82;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* header */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #fff;
    padding: 0 24px;


    .menu-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .menu__btn {
            width: 40px;
            height: 40px;
            background-color: #FF3E79;
            border-radius: 50%;
            border: none;
            padding: 12px 11px;
            margin-right: 16px;

            &::before {
                content: "";
                width: 18px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                border-radius: 1px;
                top: 36px;
                left: 35px;
            }

            &::after {
                content: "";
                width: 10px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                border-radius: 1px;
                top: 43px;
                left: 35px;
            }

            &-line::after {
                content: "";
                width: 14px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                border-radius: 1px;
                top: 50px;
                left: 35px;
            }
        }

    }

}


    .header__repair-checkstatus {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .header__line {
            border-left: 2px solid #EAEAEA;
            height: 32px;
            border-radius: 25px;
            margin-right: 20px;
        }

        .menu__link-repair {
            margin-right: 16px;
        }

    }


/* main */
/* menu */

.services {
    padding-top: 24px;

    .services__container {
        padding: 0 15px;

        .services__repair-checkstatus {
            display: none;
        }

    }


    .services__highlight {
        margin-bottom: 24px;

        .services__title {
            margin-top: 0px;
            color: #1B1C21;
            display: inline;
            margin-left: 20px;
        }

        &::before {
            content: " ";
            background: #41F6D7;
            position: absolute;
            width: 4px;
            height: 40px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            left: 0;
        }

    }

    .service-lane {
        min-height: 50px;

        .service-lane__menu {
            display: flex;
            padding-left: 0;
            overflow-x: auto;;

            #service-lane__btn--active {
                background-color: #ffffff;
                border: 2px solid #B8FFEC;
                border-radius: 6px;
            }
            

            .service-lane__btn {
                color: #7E7E82;
                background-color: transparent;
                margin-right: 20px;
                flex-shrink: 0;
                padding: 8px 10px;
                font-size: 16px;
                margin-bottom: 13px;
                border: none;
                outline: none;
            }

        }

        .service-lane__menu::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

    }

}

.services-information {

    margin-bottom: 24px;

    .basic-information__container {
        padding: 0 15px;
    
        .basic-information__text {
            font-size: 14px;
            width: 100%;
            height: 90px;
            margin: auto;
            margin-bottom: 16px;
            line-height: 20px;
        }
    
        .basic-information__box {
            display: flex;
            margin-bottom: 16px;
    
            .basic-information__more {
                color: #1B1C21;
                font-size: 16px;
                margin: 0px;
                display: flex;
                align-items: center;
                border: none;
                background-color: #F8F8F8;
            }
    
            .basic-information__expand {
                margin-right: 8px;
            }
    
        }
    
    }
    
    .basic-information__cps {
        width: 100%;
    }

}

/* brands */  

.brands {
    border-top: 1px solid #D9FFF5;

    &__title {
        padding: 16px 0 16px 16px;
        background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
    
        h2 {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 24px;
        }
    
    }

    .swiper {
        width: 240px;
        min-height: 124px;
    }

    .swiper-wrapper {
        padding-top: 16px;
    }
    
    .swiper-slide {
        max-width: 206px;
        min-height: 72px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 16px;
        background-color: #ffffff;

        .brands__slide-dropdown {
            display: block;
            width: 38px;
            height: 38px;
            border: 1px solid #FF3E79;
            border-radius: 50%;
            position: relative;

            &::after {
                content: " ";
                width: 9px;
                height: 2px;
                background-color: #FF3E79;
                border-radius: 1px;  
                position: absolute;  
                top: 40%;  
                left: 40%;
                transform: rotate(45deg);
            }

            &::before {
                content: " ";
                width: 9px;
                height: 2px;
                background-color: #FF3E79;
                border-radius: 1px;  
                position: absolute;  
                top: 54%;  
                left: 40%;
                transform: rotate(135deg);
            }
        }
    }
}

.brands__box {
    display: none;
}