@media (min-width: 768px) {

    /* header */
    
        .container {
            justify-content: space-between;
            padding: 0 24px;

            .menu-logo {
                display: flex;
                width: 180px;
                justify-content: space-between;
                align-items: center;
            }

        }
    
    /* main */
    /* menu */
    
        .services__highlight {
            margin-bottom: 32px;
        }
    
        .services-information {
            padding: 0 15px;
        }
    
    /* information */
    
        .basic-information {
            display: flex;
            justify-content: space-around;

            .basic-information__container {
                padding: 0;

                .basic-information__text {
                    width: 100%;
                    min-height: 90px;
                    margin-bottom: 10px;
                }

                .basic-information__expand {
                    margin-left: 0;
                }
                
            }

            .basic-information__cps {
                border-radius: 5px;
            }

        }

        /* brands-slider */

        .swiper-wrapper {
            flex-wrap: wrap;
            padding: 24px 0 0 24px !important;

            .swiper-slide {
                max-width: 190px;
                max-height: 72px;
                margin-right: 24px !important;
                margin-bottom: 16px;
            }

            .brands__visible {
                display: flex !important;
            }
        }

        .swiper-slide:nth-child(n + 7) {
            display: none;
        }

        .brands__box {
            display: flex;
            margin-bottom: 16px;
            padding-left: 24px;

    
            .brands__more {
                color: #1B1C21;
                font-size: 16px;
                margin: 0px;
                padding-left: 30px;
                display: flex;
                align-items: center;
                border: none;
                background: url(../img/expand.svg) no-repeat center left;
            }
    
            .brands__expand {
                margin-right: 8px;
            }
        }
    }

     

 