@media (min-width: 768px) {

    .header {
        max-width: 768px;
        margin: 0 auto;
    }

    .services {
        max-width: 768px;
        margin: 0 auto;
    }

    .basic-information {
        display: flex;
        justify-content: space-around;
    }

    .basic-information__cps {
        border-radius: 5px;
    }

    .services__highlight {
        margin-bottom: 32px;
    }

    .slide-menu {
        margin-bottom: 32px;
    }

    .basic-information__inf {
        width: 100%;
        min-height: 90px;
        margin-bottom: 10px;
    }

    .expand {
        margin-left: 0;
    }

    .container {
        justify-content: space-between;
        padding: 0 24px;
    }

    .menu-logo {
        display: flex;
        width: 180px;
        justify-content: space-between;
        align-items: center;
    }

    .repair-checkstatus {
        display: flex;
        width: 116px;
        justify-content: space-between;
        align-items: center;
    }

    .header__line-768 {
        border-left: 2px solid #EAEAEA;
        height: 32px;
        border-radius: 25px;
    }
}