@media (min-width: 1120px) {

    .services {
        max-width: 1120px;
        margin: 0 auto;
    }

    .menu__link-1120 {
        display: contents;
    }

    .container {
        background-color: #F8F8F8;
        border: none;
        display: none;
    }

    .basic-information {
        justify-content: space-around;
    }

    .basic-information__inf {
        width: 100%;
        min-height: 90px;
        margin-bottom: 14px;
    }

    .br {
        display: none;
    }

    .service-lane {
        width: 1063px;
        height: 82px;
    }

    .services__highlight {
        display: flex;
        justify-content: space-between;
    }

    .repair-checkstatus-1120 {
        display: flex;
        width: 375px;
        justify-content: space-between;
    }

    .services__link {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .repair-inf {
        margin-right: 8px;
        color: #1B1C21;
        font-size: 16px;
        font-family: TTLakes, sans-serif;
    }

    .checkstatus-inf {
        margin-right: 8px;
        color: #1B1C21;
        font-size: 16px;
        font-family: TTLakes, sans-serif;
    }

    .services {
        padding-right: 29px;
    }
}