/* normalize */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* button:hover */

.btn {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff3e7888;
    transition: background-color 0.5s;
}

.btn-lang:hover {
    color: #7E7E82;
    transition: color 0.3s;
}

.menu__item > a:hover {
    color: #7E7E82;
    transition: color 0.5s;
}

/* header */

.menu {
    width: 320px;
    height: 100%;
    padding: 24px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 200;
    background-color: white;
    translate: -400px -88px;

}

.menu__container-open {
    translate: 0 -88px;
    transition: translate 0.5s;
}

.menu-smoke.menu-smoke--open {
    display: block;
}

.menu-smoke {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(248,248,248,0.97);
    z-index: 100;
}

.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;

    .menu__btn-back {
        margin-right: -60px;

        &::before {
            content: "";
            width: 2px;
            height: 22px;
            background-color: #fff;
            position: absolute;
            border-radius: 1px;
            transform: translate(-1px, -10px) rotate(-135deg);        
        }

        &::after {
            content: "";
            width: 2px;
            height: 22px;
            background-color: #fff;
            position: absolute;
            border-radius: 1px;
            transform: translate(-1px, -10px) rotate(135deg);
        }
    }

    .menu__btn-search {
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

}

/* main-menu */

.menu__list {
    height: 100%;
}

.menu__item {
    margin-bottom: 32px;

    & .menu__link--active {
        color: #7E7E82;
    }

    & .menu__link--active::before {
        content: " ";
        background: #41F6D7;
        position: absolute;
        width: 4px;
        height: 32px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        left: 0;
        top: 115px;
    }

}

/* contact */

.contact {

    .contact__btn {
        margin-bottom: 16px;

        .contact__btn-phone {
            background-image: url(../img/phone.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 16px;
        }
    
        .contact__btn-message {
            background-image: url(../img/message.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 16px;
        }
    
        .contact__btn-profile {
            background-image: url(../img/profile.svg);
            background-repeat: no-repeat;
            background-position: center;
        }


    }

    .contact__mail {
        margin-bottom: 12px;
    }

    .contact__number {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .btn-lang {
        border: none;
        background: none;
        margin-right: 7px;
        padding: 0;
        cursor: pointer;
    }

    .btn-lang--active {
        color: #7E7E82;
    }

}