@media (min-width: 768px) {

    /* header */
    
        .container {
            justify-content: space-between;
            padding: 0 24px;

            .menu-logo {
                display: flex;
                width: 180px;
                justify-content: space-between;
                align-items: center;
            }

        }
    
    /* main */
    /* menu */

    .container-main {

        .modal-feedback, .modal-call {
            padding: 40px 32px 0 32px;
    
            &__btn-back {
                left: -60px;
            }
    
            &__title {
    
                &::before {
                    top: 30px;
                }
            }
        }
    }


    .services {
    
        .services__highlight {
            margin-bottom: 32px;

            .services__title {
                margin-left: 20px;
            }
        }
    
        .services-information {
            padding: 0 15px;
        }
    
    /* information */
    
        .basic-information {
            display: flex;
            justify-content: space-around;

            .basic-information__container {
                padding: 0;

                .basic-information__expand {
                    margin-left: 0;
                }
                
            }

            .basic-information__cps {
                border-radius: 5px;
            }

            .text-visible {
                height: 200px;
                transition: height 1s ease;
            }

        }

        /* brands-slider */
        .brands, .equipment {

            .swiper {
                width: 100%;
                max-height: 184px; 
                overflow: hidden;   
            }

            .equipment__slider {
                min-height: 184px;
            }

            .swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(auto-fit, 224px);
                justify-content: center;
                padding-top: 24px;
                gap: 16px 48px;
                box-sizing: inherit;
    
                .swiper-slide {
                    max-width: 224px;
                    max-height: 72px;
                }
    
            }

            .brands__visible {
                max-height: 1000px;
                transition: max-height 3s ease;
            }


    
            .brands__box, .equipment__box {
                display: flex;
                margin-top: 24px;
                padding-left: 24px;

                .brands__img-rotate {
                    transform: rotate(180deg);
                }
        
                .brands__more, .equipment__more {
                    color: #1B1C21;
                    font-size: 16px;
                    margin: 0px;
                    padding-left: 15px;
                    display: flex;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                }
        
            }
        }

        .price {
            display: none;
        }
        .pricing-title {
            display: block;
        }
    
        .pricing-container {
            display: block;
        }
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;

        .team {
            text-align: start;
        }

        .information {
            max-width: 213px;
            text-align: end;
        }
    }

}
     

 